/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.sparks {
  opacity: 0;
}

.core,
.main-body {
  transition: fill 0.3s ease;
}

.card__icon-button:hover .core {
  fill: var(--heart-contour, #000);
  transition: fill 0.3s ease;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-contour, #000);
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:not(:hover) .core {
  transition: fill 0.3s ease 0.03s;
}

.card__icon-button:not(:hover) .main-body {
  transition: fill 0.3s ease;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #ff0000);
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #ff0000);
  opacity: 1;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  opacity: 1;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation-name: like;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.is-liked .heard {
  transform-origin: center;
  animation-name: heard-scale;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.card__icon-button {
  border: none;
  padding: 4px 0;
  transition: border-color 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  background-color: initial;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color, #000);
}

.like__heard {
  margin-block-start: 21px;
  display: flex;
  padding-block-end: 28px;
  padding-inline-end: 28px;
  justify-content: flex-end;
  gap: 3px;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  position: relative;
  border: 1px solid var(--main-color, #000);
  width: min(100%, 700px);
  justify-self: center;
  margin-block-end: 47.5px;
}

.card__title {
  letter-spacing: 0.16px;
  background-color: var(--bg-color, #fff);
  font-family: "Inter-Variable", "Arial", sans-serif;
  font-variation-settings: "wght" 700, "wdth" 110, "opsz" 0;
  font-size: 18px;
  padding-inline-start: 10px;
  padding-block-start: 8px;
  padding-block-end: 3px;
  border-bottom: 2px solid var(--main-color, #000);
}

.header {
  position: relative;
  display: flex;
  background-color: var(--bg-color, #fff);
  width: min(100%, 698px);
  font-family: "PressStart2P", "Courier New", fantasy;
  justify-self: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 100px;
  gap: 20px;
  padding-top: 128px;
  padding-bottom: 128px;
  margin-bottom: 100px;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 400;
  border: 2px solid var(--main-color, #000);
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231cqi, 4.0625rem);
}

.card__parahraph {
  padding-inline-start: 26px;
  letter-spacing: 0.55px;
  padding-inline-end: 29px;
  padding-top: 27px;
  padding-bottom: 0px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.header__title {
  line-height: 1;
  font-size: clamp(0.875rem, 0.226rem + 2.7692cqi, 1.4375rem);
}

.content {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.footer__image {
  position: relative;
  z-index: 2;
  fill: var(--heart-contour, #000);
  mix-blend-mode: difference;
  block-size: 21px;
  inline-size: 21px;
  filter: brightness(0) invert(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color, #fff);
  font-family: "PressStart2P", "Courier New", fantasy;
  font-size: 0.875rem;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  padding: 0;
  background-color: var(--bg-color, #fff);
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.footer__button {
  display: flex;
  flex-direction: row;
  height: 55px;
  gap: 8px;
  width: 100%;
  padding: 0 19px;
  text-align: center;
  margin: 45px auto 0;
  max-inline-size: 338px;
  align-items: center;
  margin-block-end: 103px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog__form {
  display: grid;
  grid-template-columns: min-content auto;
  inline-size: 318px;
  align-items: center;
  gap: 20px 20px;
  padding: 0px 11px;
  padding-top: 18px;
  padding-bottom: 12px;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
}

.dialog[open]::backdrop {
  backdrop-filter: brightness(25%);
}

.dialog__image {
  position: relative;
  grid-column-start: 1;
  block-size: 39px;
  inline-size: 39px;
}

.modal__text {
  font-family: "PressStart2P", "Courier New", fantasy;
  font-size: 0.875rem;
  line-height: 1.5;
}

.close-button {
  grid-column: span 2;
  padding: 10px;
  text-transform: inherit;
}

.image-label {
  position: absolute;
  top: 59px;
  right: clamp(0.813rem, 3.692vw - 0.053rem, 1.563rem);
  opacity: 0.5;
  color: var(--main-color, #000);
  font-family: "PressStart2P", "Courier New", fantasy;
  font-size: 0.875rem;
  line-height: 1.2;
  text-shadow: 1px 1px 0 var(--bg-color, #fff) -1px -1px 0 var(--bg-color, #fff),
    -1px 1px 0 var var(--bg-color, #fff), 1px -1px 0 var(--bg-color, #fff);
  mix-blend-mode: hard-light;
}

.card_content {
  font-family: "Inter-Variable", "Arial", sans-serif;
  font-variation-settings: "wght" 400, "wdth" 110, "opsz" 0;
  font-size: 18px;
  line-height: 120%;
  background-color: var(--bg-color, #fff);
}

.blur {
  filter: blur(10px);
}

.serpia {
  filter: sepia(1);
}

.multi-filter {
  filter: hue-rotate(0.5turn) invert(100%);
}

.opasity-filter {
  filter: opacity(40%);
}

.saturate {
  filter: saturate(400%);
}

.invert {
  filter: invert(95%);
}

.contrast {
  filter: contrast(700px);
}

@media (width < 376px) {
  .header {
    max-inline-size: 375px;
    padding-top: 121px;
    padding-bottom: 119px;
  }

  .card-list {
    max-inline-size: 375px;
  }

  .card__title {
    letter-spacing: 0.2px;
    padding-inline-end: 3px;
  }

  .card {
    margin-bottom: 49px;
  }

  .footer__button {
    flex-direction: column;
    max-inline-size: 310px;
    box-sizing: 86px;
    height: 86px;
    padding: 11px 20px;
    gap: 11px;
  }

  .dialog__form {
    margin: 0 7px;
    gap: 32px 15px;
    padding: 30px 30px;
    padding-top: 28px;
  }

  .card__parahraph {
    padding-top: 27px;
    padding-inline-end: 31px;
    line-height: 20.8px;
  }

  .like__heard {
    padding-block-start: 4px;
  }

  .no-filter .image-label {
    top: 76px;
  }

  .footer__image {
    block-size: 30px;
    inline-size: 30px;
  }

  .dialog {
    padding: 0;
  }
}

@supports (text-stroke: 1px var var(--stroke-color, #fff)) or
  (-webkit-text-stroke: 1px var(--stroke-color, #fff)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color, #fff);
    text-stroke: 1px var(--stroke-color, #fff);
  }
}
